<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828706665996-3duvrtmvnv98nknucl6s5oqa452cc10n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828706665996-3duvrtmvnv98nknucl6s5oqa452cc10n</string>
	<key>API_KEY</key>
	<string>AIzaSyCJlv7nQO4Bf76fivB-Q7vch0Z3GV7ezzM</string>
	<key>GCM_SENDER_ID</key>
	<string>828706665996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stamprallyV2</string>
	<key>PROJECT_ID</key>
	<string>sightseeing-sns</string>
	<key>STORAGE_BUCKET</key>
	<string>sightseeing-sns.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828706665996:ios:b9d5838c0b742ef666e029</string>
</dict>
</plist>